.container-Index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/Fondo.jpg');
    background-size: cover;
    height: 100vh;
    padding: 10px;
}

.container-Index div{
    text-align: center;
}

.container-Index h1{
    animation:tracking-in-expand 0.8s linear both;
    font-size: 70px;
    color: rgb(0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ffe600, 0 0 70px #ffe600, 0 0 80px #ffe600, 0 0 100px #ffe600;
}

.container-Index button{
    color: white;
    background-color: black;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px #ffe600;
}

.container-Index button:active{
    color: black;
    background-color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ffe600, 0 0 70px #ffe600, 0 0 80px #ffe600, 0 0 100px #ffe600;
    
}

.container-Index button:hover{
    animation:shake-horizontal 0.8s linear both;
}

@media (max-width: 599px) {
    .container-Index h1{
        font-size: 55px;
    }
    
    .container-Index button{
        font-size: 25px;
    }
}

@keyframes tracking-in-expand{
    0%{letter-spacing:-.2em;opacity:0}
    40%{opacity:.6}100%{opacity:1
}}

@keyframes shake-horizontal{
    0%,100%{transform:translateX(0)}
    10%,30%,50%,70%{transform:translateX(-10px)}
    20%,40%,60%{transform:translateX(10px)}
    80%{transform:translateX(8px)}
    90%{transform:translateX(-8px)}
}