.container-Ordenamiento {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.container-Ordenamiento > div {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.container-Ordenamiento h2 {
    margin: 0 40px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ffe600, 0 0 70px #ffe600, 0 0 80px #ffe600, 0 0 100px #ffe600;
}

.container-Ordenamiento select {
    height: 40px;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.container-Ordenamiento select:focus {
        outline: none;
        /* Elimina el contorno al enfocar */
        border-color: #58575c;
        /* Cambia el color del borde al enfocar */
        box-shadow: 0 0 10px rgba(0, 255, 8, 0.7);
        /* Agrega una sombra al enfocar */
}